<table class="p-0 m-0" style="border:none; width:100%;">
    <thead>
        <tr style="background-color:#5d6b99; color:white">
            <th>Action</th>
            <th>Module</th>
            <th>Page Template</th>
            <th>Page Name</th>
            <th>Page Title</th>



        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                <a href="/Page/Table?1" class="btn m-0" style="padding:0px 2.2px 0px 2.2px; background-color:#5d6b99; font-weight:200; color:white; font-size:12px; border:1px solid #5d6b99; border-radius:50%;">
                    <i class="fa fa-chevron-down"></i>
                </a>

                <a href="/Page/Table?1" class="btn m-0" style="padding:0px 2.2px 0px 2px; background-color:#5d6b99; font-weight:200; color:white; font-size:12px; border:1px solid #5d6b99; border-radius:50%;">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
            <td> Sales</td>
            <td>Setup</td>
            <td>Market Structure</td>
            <td>Market Structure Setup</td>
        </tr>
        <tr>
            <td>
                <a href="#" class="btn m-0" style="padding:0px 2.2px 0px 2.2px; background-color:#5d6b99; font-weight:200; color:white; font-size:12px; border:1px solid #5d6b99; border-radius:50%;">
                    <i class="fa fa-chevron-down"></i>
                </a>

                <a href="#" class="btn m-0" style="padding:0px 2.2px 0px 2px; background-color:#5d6b99; font-weight:200; color:white; font-size:12px; border:1px solid #5d6b99; border-radius:50%;">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
            <td> Sales</td>
            <td>Setup</td>
            <td>Market Structure</td>
            <td>Market Structure Setup</td>

        </tr>
        <tr>
            <td>
                <a href="#" class="btn m-0" style="padding:0px 2.2px 0px 2.2px; background-color:#5d6b99; font-weight:200; color:white; font-size:12px; border:1px solid #5d6b99; border-radius:50%;">
                    <i class="fa fa-chevron-down"></i>
                </a>

                <a href="#" class="btn m-0" style="padding:0px 2.2px 0px 2px; background-color:#5d6b99; font-weight:200; color:white; font-size:12px; border:1px solid #5d6b99; border-radius:50%;">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
            <td> Sales</td>
            <td>Setup</td>
            <td>Market Structure</td>
            <td>Market Structure Setup</td>
        </tr>

    </tbody>

</table>