
<div id="page2" class="ml-1 font-weight-bold" onclick="PageIconToggle()"> <a href="#"><i id="PageIcon" class="fa fa-caret-down" aria-hidden="true"></i> Page </a></div>

<div class="p-0 m-1 mt-2" style="border:1px solid #5d6b99;" id="p1">
    <table class="p-0 m-0" style="border:none; width:100%; font-size:12px;">
        <thead>
            <tr style="background-color:#CCD5F0; color:black">
                <th>Action</th>
                <th>Module</th>
                <th>Page </th>
                <th>Page Name</th>
                <th>Page Title</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <a href="#" class="btn m-0" style="padding:0px 2.2px 0px 2.2px; background-color:#CCD5F0; font-weight:200; color:black; font-size:12px; border:1px solid #5d6b99; border-radius:50%;" onclick="SelectTableById(1,'Market Structure')">
                        <i class="fa fa-chevron-down"></i>
                    </a>

                    <a href="#" class="btn m-0" style="padding:0px 2.2px 0px 2px; background-color:#CCD5F0; font-weight:200; color:black; font-size:12px; border:1px solid #5d6b99; border-radius:50%;" onclick="EditPageById(1)">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
                <td> Sales</td>
                <td>Setup</td>
                <td>Market Structure</td>
                <td>Market Structure Setup</td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="btn m-0" style="padding:0px 2.2px 0px 2.2px; background-color:#CCD5F0; font-weight:200; color:black; font-size:12px; border:1px solid #5d6b99; border-radius:50%;" onclick="SelectTableById(1,'Market Structure')">
                        <i class="fa fa-chevron-down"></i>
                    </a>

                    <a href="#" class="btn m-0" style="padding:0px 2.2px 0px 2px; background-color:#CCD5F0; font-weight:200; color:black; font-size:12px; border:1px solid #5d6b99; border-radius:50%;" onclick="EditPageById(1)">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>

                <td> Sales</td>
                <td>Setup</td>
                <td>Market Structure</td>
                <td>Market Structure Setup</td>

            </tr>
            <tr>
                <td>
                    <a href="#" class="btn m-0" style="padding:0px 2.2px 0px 2.2px; background-color:#CCD5F0; font-weight:200; color:black; font-size:12px; border:1px solid #5d6b99; border-radius:50%;" onclick="SelectTableById(1,'Market Structure')">
                        <i class="fa fa-chevron-down"></i>
                    </a>

                    <a href="#" class="btn m-0" style="padding:0px 2.2px 0px 2px; background-color:#CCD5F0; font-weight:200; color:black; font-size:12px; border:1px solid #5d6b99; border-radius:50%;" onclick="EditPageById(1)">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
                <td> Sales</td>
                <td>Setup</td>
                <td>Market Structure</td>
                <td>Market Structure Setup</td>
            </tr>

        </tbody>

    </table>

</div>