
@{
    ViewBag.Title = "Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-0 m-1" style="border:1px solid #5d6b99;">
    <table class="p-0 m-0" style="border:none; width:100%;">
        <thead>
            <tr style="background-color:#5d6b99; color:white">
                <th>Action</th>
                <th>Table Title</th>
                <th>Page Template</th>
                <th>Data Template</th>
                <th>Width</th>

               

            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <a href="#" class="btn m-0" style="padding:0px 2.2px 0px 2.2px; background-color:#5d6b99; font-weight:200; color:white; font-size:12px; border:1px solid #5d6b99; border-radius:50%;">
                        <i class="fa fa-chevron-down"></i>
                    </a>

                    <a href="#" class="btn m-0" style="padding:0px 2.2px 0px 2px; background-color:#5d6b99; font-weight:200; color:white; font-size:12px; border:1px solid #5d6b99; border-radius:50%;">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
                <td> Business Unit</td>

                <td>Zone of Market</td>
                <td>DML</td>
                <td>800</td>
             
            </tr>
            <tr>
                <td>
                    <a href="#" class="btn m-0" style="padding:0px 2.2px 0px 2.2px; background-color:#5d6b99; font-weight:200; color:white; font-size:12px; border:1px solid #5d6b99; border-radius:50%;">
                        <i class="fa fa-chevron-down"></i>
                    </a>

                    <a href="#" class="btn m-0" style="padding:0px 2.2px 0px 2px; background-color:#5d6b99; font-weight:200; color:white; font-size:12px; border:1px solid #5d6b99; border-radius:50%;">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
                <td> Business Unit</td>

                <td>Zone of Market</td>
                <td>DML</td>
                <td>800</td>

            </tr>
         


       

        </tbody>

    </table>
</div>

